//== Grid system
$main-sm-columns: 12;
$sidebar-sm-columns: 4;

//** Number of columns in the grid.
//** Padding between columns. Gets divided in half for the left and right.
/* $grid-gutter-width:         20px; */

// Glyphicons font path
$icon-font-path:        "../fonts/";

// Colors
$black:					#202024;
$offblack:				#0a0a0d;
$gray:					#a3a6b1;
$offwhite:				#eaeaf1;
$blue:					#2c7ad2;
$red:					#c72f4f;
$primary-text:			#4b4d55;

//Typography
$pt-serif: 'PT Serif', serif;
$montserrat: 'Montserrat', sans-serif;

